<div style="text-align: center;">
  <h2> Book an Appoinment</h2>
</div>

<div class="appointmentForm">
  <mat-form-field>
    <mat-label>Enter your First  Name</mat-label>
    <input  type="text" matInput class="form-control" id="fName" [(ngModel)]='newApts.fName'  [ngModelOptions]="{standalone: true}" required ngDefaultControl>
  </mat-form-field>
  <br><br>
  <mat-form-field>
    <mat-label>Enter your Last  Name</mat-label>
    <input  type="text" matInput class="form-control" id="lName" [(ngModel)]='newApts.lName'  [ngModelOptions]="{standalone: true}" required ngDefaultControl>
  </mat-form-field>
  <br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput id="email" [(ngModel)]='newApts.email' type="email"  required [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Use the best email to contact you with</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field>
   <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl" [(ngModel)]="day" required>
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
   <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false"
      [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
       [enableMeridian]="false" 
      [disableMinute]="false" [hideTime]="false"  >
   </ngx-mat-datetime-picker>
   <!-- <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [disabled]="false"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [stepHour]="2" [stepMinute]="5" [stepSecond]="10"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [showSpinners]="false"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [showSeconds]="false"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [disableMinute]="false"></ngx-mat-timepicker>
<ngx-mat-timepicker [(ngModel)]="date" [defaultTime]="defaultTime"></ngx-mat-timepicker>
<ngx-mat-timepicker [formControl]="formControl"></ngx-mat-timepicker> -->
</mat-form-field>
  <br><br>
  <mat-form-field>
    <mat-label>Work</mat-label>
    <input  type="text" matInput class="form-control" id="work" [(ngModel)]='work'  [ngModelOptions]="{standalone: true}" ngDefaultControl>
  </mat-form-field>
  <br><br>
  <button class="myButton"  type="submit" (click)="onSubmit()"> Submit</button>
  <br><br>
</div>

<div class="appointmentForm">
  <h3>{{content.calendarTitleDay}}</h3>
</div>

<!-- Here is the apointment calender -->
<br><br>
<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  
    <div class="col-md-4">
      <div class="btn-group">
<!-- 
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div> -->
        <div
          class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <!-- additionall stuff -->



  

  