.addition {
    list-style-type: none;
    color: black;
    text-align: center;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 30rem;
  align-items: center;
  display: block;
   }

.timesHeader {
    text-align: center;
    align-items: center;
    
}

h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-image: linear-gradient(to right, #f864c0 , #e6bbd5);

    /* background-color: #f5f5f5; */
    padding: 15px;
  }

  .appointmentForm {
    text-align: center;
    align-items: center;
  }
.col-md-4 {
  text-align: center;
  align-items: center;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #db1b81 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d62799;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #db1b81 5%, #eedad8 100%);
	background-color:none;
}
.myButton:active {
	position:relative;
	top:1px;
}
