<div class="topnav" id="nava">
    <a class="nav-links" [routerLink]="['/Home']"><b> <img class='iconImage' src="https://glamhustle.s3.us-east-2.amazonaws.com/glamHustIeLogo.jpg"> 
      &nbsp;Glam Hustle</b></a>
    <a class="nav-links" [routerLink]="['/Info']">Information </a>
    <a class="nav-links" [routerLink]="['/Booking']">Book an Appointment</a>
    <a href="javascript:void(0);" class="icon" (click)='dropDownClick()'><span class='icon-hamburger' id='icon-hamburger'>&#9776;</span></a>
  </div>
  <br><br>
