
<div class='contactList'>
    <h4>{{contactMe.title}}</h4>

    <ul class = 'contactList2'>
        <li>
            <i class="fa fa-envelope"></i> {{contactMe.email}} 
        </li>
        <li>
            <i class="fa fa-envelope"></i> {{contactMe.phone}} 
        </li>
    </ul>
    <ul *ngIf='contactMe.isOpen'>
        <li class='open' >
            {{contactMe.open}}
        </li>
    </ul>
    <ul *ngIf='!contactMe.isOpen'>
        <li class='days' *ngFor='let today of contactMe.daysArry'>
            {{today.day}}
        </li>
    </ul>
</div>
<br><br>
