.contactList {
    display: block;
    text-align: center;
}

.days {
    align-items: center;
    display: block;
    text-align: center;
}

.contactList2 {
    list-style: none;
}

.open {
    color: #8f24e7;
    list-style: none;
}
