

    <div>
        <mat-card class='infocard'>
            <mat-card-title>
                {{fullDescription.headTitle}}
            </mat-card-title>
        <mat-card-content>
            <mat-accordion >
                <mat-expansion-panel class='panel'>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{fullDescription.title}}
                    </mat-panel-title>
                    <mat-panel-description>
                     What Services Do You Desire?
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ul class="addition">
                    <li  *ngFor="let service of fullDescription.desc">
                      <mat-checkbox class="fronatalAddnon" [(ngModel)]="service.userWanted">
                        <strong>{{service.name}} - {{service.value | currency}}</strong>
                    </mat-checkbox>
                    <p><i>{{service.description}}</i> &nbsp; {{service.hr}} hrs & {{service.min}} min</p>
                    </li>
                </ul>
                </mat-expansion-panel>
              </mat-accordion>
              <div >
                  <h5>Total : {{total| currency}} </h5>
              </div>
              <br><br>
            </mat-card-content>
            <button class="myButton" (click)="onSubmit()">{{content.button}}</button>
    </mat-card>
    </div>
    <br><br>