.addition {
    list-style-type: none;
   }

   .estimateAccordian {
       background: none;
   }

   .panel {
    background: none;
   }

   .policy {
    align-items: center;
    width: 100%;
    height: 40% ;
    text-align: center;
    background-color: none;
    display: flex;
    text-align: center;
    align-items: center;
}

.policy-card {
    background: none;
    color: black;
    align-items: center;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    height: 70%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 968px) { 

    .policy-card { 
        /* display: flex; */
        height: 40%;
        width: 100%;
    
    }
}
@media screen and (max-width: 700px) { 

    .policy-card { 
        /* display: flex; */
        height: 50%;
        width: 100%;
        
    }
    .panel { 
        text-align: left;
    }
}

.infoPage {
    display: block;
}



.infocard {
    background-color: none;
    background: none;
    width: 80%;
    height: 40%;
    text-align: center;
    align-items: center;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #db1b81 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d62799;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background:linear-gradient(to bottom, #db1b81 5%, #eedad8 100%);
	background-color:none;
}
.myButton:active {
	position:relative;
	top:1px;
}
