<div>
  <app-contact></app-contact>
</div>

<div>
  <app-pricing-list></app-pricing-list>
</div>

    <div style="display: flex;">
      <div class='policy'>
          <mat-card class='policy-card'>
              <mat-card-title>
                  {{content.title}}
              </mat-card-title>
              <mat-card-content>
                  <mat-card-subtitle>
                      {{content.subTitle}}
                  </mat-card-subtitle>
                  {{content.policyParagraph1}}
                  <mat-card-subtitle>
                      {{content.subTitle2}}
                  </mat-card-subtitle>
                  {{content.policyParagraph2}}
              </mat-card-content>
             
          </mat-card>
      </div>
  </div>
  <br><br>

  <div class='maps'>
    <iframe class='maps' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3482.5748630581634!2d-81.04167118490436!3d29.206640982194763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e6d97c57ccab4f%3A0x55cc7bbfc3415f44!2s611%20Rip%20Collins%20Dr%2C%20Daytona%20Beach%2C%20FL%2032114!5e0!3m2!1sen!2sus!4v1589858842902!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

