.policy {
    align-items: center;
    width: 100%;
    height: 40% ;
    text-align: center;
    background-color: none;
    display: flex;
    text-align: center;
    align-items: center;
}

.policy-card {
    background: none;
    color: black;
    align-items: center;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    height: 70%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 968px) { 

    .policy-card { 
        /* display: flex; */
        height: 40%;
        width: 100%;
    
    }
}
@media screen and (max-width: 700px) { 

    .policy-card { 
        /* display: flex; */
        height: 50%;
        width: 100%;
        
    }
    .panel { 
        text-align: left;
    }
}

.infoPage {
    display: block;
}



.infocard {
    background-color: none;
    background: none;
    width: 80%;
    height: 40%;
    text-align: center;
    align-items: center;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


/* Button Radios */
label {
    position: relative;
  }
  
  label input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }
  
  label .fa {
    position: relative;
    width: 40px;
    height: 40px;
    background: #091921;
    line-height: 40px;
    text-align: center;
    margin: 0 4px;
    color: #6f6f6f;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
      2px 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  label .fa:hover {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
      2px 2px 6px rgba(0, 0, 0, 0.8),
      inset -2px -2px 10px rgba(255, 255, 255, 0.05),
      inset 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  label input:checked ~ .fa {
    color: #00fff1;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.05),
      inset 2px 2px 10px rgba(0, 0, 0, 1);
    text-shadow: 0 0 5px #00fff1, 0 0 20px #00fff1;
  }

  .addition {
    list-style-type: none;
   }

   .estimateAccordian {
       background: none;
   }

   .panel {
    background: none;
   }

   .maps {
     align-items: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: 250px;
     width: 250px;
   }