
/* You can add global styles to this file, and also import other style files */
body {
    /* background: linear-gradient(to bottom, #000000d7 60%, 	#D4AF37 100%)fixed; */
    /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9fa91d2e-984e-4c27-89cd-fd8d564101d0/d6ji3qh-1beb5458-4675-49b3-aa00-a8c31a09632c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOWZhOTFkMmUtOTg0ZS00YzI3LTg5Y2QtZmQ4ZDU2NDEwMWQwXC9kNmppM3FoLTFiZWI1NDU4LTQ2NzUtNDliMy1hYTAwLWE4YzMxYTA5NjMyYy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.xi8cN3O8wOJJwAXIOb42HeLuA-CTV5oVW6U4PW7YsK4') ; */
    background-image: linear-gradient(to right, #f864c0 , #e6bbd5);
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
