
<div class='header'>
<div class = 'headerImageTitle'>
<h1 class='title'><img class='iconImage' src="https://glamhustle.s3.us-east-2.amazonaws.com/glamHustIeLogo.jpg"> 
    &nbsp;Glam-Hustle</h1>
</div>
<h3 class='titleSub'>𝔇𝔬𝔩𝔩𝔢𝔡 𝔲𝔭 𝔫 𝔱𝔯𝔞𝔭ń</h3>
</div>
<br><br>
<div class='aboutme'>
<h4> About the Artist</h4>
<p>I’m a 27 year old hair stylist who
    has expertist in wigs with many loyal clients. I would love for you to 
be a part my my winning team of clients! As I am growing many faucets of bussiness I will soon
be offering facials and waxing! I look forward to seeing you soon! Oh and I make Boss a** wigs too!</p>
</div>
<br><br>
<div class='carousel-class'>
    <ngb-carousel *ngIf="images">
        <ng-template *ngFor="let image of images; let i = index;" ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imgagewraper" [src]="images[i]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3> Professionally Done</h3>
            <p>Each Cleint Recives my full attention and care when in comes to thier hair.</p>
          </div>
        </ng-template>
      </ngb-carousel>

</div>