/* title css */
.header {
    align-items: center;
    width: 100%;
    text-align: center;
    color: #f1e3f5;
}

.headerImageTitle {
    display: inline-block;
}

.iconImage {
height: 50px;
width: 50px;
display: inline-block;
}

.aboutme {
    text-align: center;
    align-items: center;
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

/* .carousel-class {
    grid-template-columns: 80px auto 1rem;
    box-shadow: 0 4px 8px 0 #D4AF37 ;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    /* align-content: center;
    text-align: center;
    position: center;
    column-width: 100px;
    width: 512px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #f1e3f5 ;
    padding: 2% ;
 } */ */


 
 .img {
    float:  left;
    background-size: cover
 }
 .carousel-class { 
    background: none;
    color: black;
    align-items: center;
    /* box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 25px; */
    height: 700px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
 }

 .imgagewraper {
    width: 500px;
    height: 650px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px, 5px, 5px;
    border-radius: 25px;
    
 }

 @media screen and (max-width: 600px) { 
    .carousel-class { 
        border-radius: 15px;
        height: 500px;
        width: 350px;
     }
    
     .imgagewraper {
        width: 300px;
        height: 450px;
        
     }

 }



 